.background {
  background: linear-gradient(to right, #e91e63, #3f51b5);
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.button {
  width: 20px;
  height: 20px;
  font-size: 10px;
  margin: 2px;
  cursor: pointer;
  background: #6c94a8;
  border: none;
  color: black;
}
.textview {
  width: 100px;
  margin: 2px;
  font-size: 10px;
  padding: 5px;
  border: black;
  color: black;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(77, 104, 134, 0.281);
}
